@use '../../../shared/styles/tokens' as *;
.grid-buttons {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0.5rem;
  .create-btn {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    padding: 0.5rem;
    background-color: $border-color;
    color: $text-main;
    border-radius: 4px;
    font-size: 0.85rem;
    transition: background 0.2s;
    &:hover {
      background-color: var(--border-highlight);
    }
    span {
      margin-top: 2px;
    }
  }
}