@use './styles/variables' as *;

html {
  /* Default is usually 16px. 
     Setting this to 12.8px (80%) or 13px will shrink 
     all your rem-based sizing instantly. */
  font-size: 13px; 
}

html, body, #root {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, sans-serif;
  background-color: $bg-dark;
  color: $text-main;
}

* {
  box-sizing: border-box;
}

button {
  background: none;
  border: none;
  cursor: pointer;
  color: inherit;
  font-family: inherit;
}

input, select {
  font-family: inherit;
  color: inherit;
}